*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    background-color: mediumvioletred;
    padding: 15px;
}

#botao-login{
    position: absolute;
   right: 20px;
}

button{
    width: 50px;
}

#logo-bolo{
    height: 20px;
    width: 20px;
    margin-right: 15px;
}

.conteudo-pagina{
    display: flex;
    flex-direction: row;
    
}

nav{
    
    background-color: #f2d0e0;
    padding: 10px 10px 10px 20px;
    
}
.icone-menu-lateral{
    display: flex;
  align-items: center;
}

.icones-navegador, .icones-navegador-setinha{
    height: 20px;
    width: 20px;
    padding-bottom: 4px;
    margin-right: 10px;
}

.icones-navegador-setinha{
    margin-left: 80px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}



.catalogo-produtos{
    width: 100%;
    padding: 10px;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    row-gap: 20px;
    column-gap: 20px;
}

.imagem-produto{
    height: 250px;
}

.texto-produto{
    padding: 3px;
    margin-top: 10px;
}

.card-bolo{
    text-align: center;
    box-shadow: darkgray 2px 2px 2px 1px ;
}



footer{
    background-color: mediumvioletred;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}