*{
    margin: 0;
}


/*CABEÇALHO*/
header{
    background-color: black;
}
h1{
    color: white;
    font-size: 300%;
    text-align: center;
    padding-top: 3%;
}
#p-cabecalho{
    color: white;
    font-size: 200%;
    margin-left: 20%;
    padding-bottom: 9%;
    padding-top: 5%;
}

#imagem-cabeçalho{
    height: auto;
    width: 20%;
    display: block;
    position: absolute; right: 0;
    margin-right: 5%;

}

.menu{
    margin-top: 80px;
    text-align: center;
    
}

.item-menu{
    margin: 40px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    border: 1px solid rgb(22, 84, 179);
}


/*body*/

.sobre-mim{
    margin: 10%;
    margin-top: 5%;
    font-size: 150%;
    text-align: justify;
}