*{
    margin: 0;
    padding: 0;
    box-sizing: b;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
}

header{
    background-color: rgb(89, 68, 209);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo-cabecalho{
    width: 35px;
    height: 30px;
    margin-right: 1px;
}

#logo-labenu{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
}

h1{
    margin-left: 2%;
    color:rgb(255, 153, 0);
}

a {
    text-decoration: none;
    color: rgb(89, 68, 209);
}


#buscar{
    margin-right: 2%;
}

input{
    padding: 10px;
    font-size: 100%;
    border-color: blue;
}


.container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    justify-content: center;
    margin: 2% 0;
    row-gap: 2%;
    column-gap: 2%;
}


ul{
    text-align: center;
    justify-items: center;
    border: 2px solid;
    border-radius: 5px;
    list-style:none;
    box-shadow: rgb(18, 78, 189) 2px 2px 1px;
}

.imagem-video{
    max-width: 100%;
    width: 300px;
    height: 200px;
}

.container-video{
    text-align: center;
}

h3{
    margin: 2%;
    color:white;
    background-color: rgb(255, 153, 0);
    border-radius: 3px;
}

video{
    width: 60%;
}



h2{
    margin: 10px;
    color:rgb(255, 153, 0);
}

footer{
    background-color: rgb(89, 68, 209);
    text-align: center;
    padding-top: 30px;
    color:rgb(255, 153, 0);
}

