html{
    background-color: rgb(250, 190, 222);
}

body{
    margin: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}

h1{
    text-align: center;
    color:black;
    background-color:rgb(250, 190, 222) ;
    padding: 20px;
    border-radius: 10px;
}

h2{
    text-align: center;
    border-radius: 10px;
   
}


footer{
    background-color:rgb(250, 190, 222) ;
    bottom: 0;
    text-align: center;
    border-radius: 10px;
}

.menu{
    text-align: center;
}
  
.item-menu{
    margin: 40px;
    background-color: rgb(250, 190, 222);
    padding: 10px;
    border-radius: 10px;
    font-size: 20px
}

p{
    text-align:justify; 
    font-size: 20px;
}

img{
    border-radius: 10px;
}


td ,th, li, label,button{
    font-size: 20px;
}




